*{
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 20px;
    width: 350px;
    height: 350px;
    border: black 1px solid;
    padding: 10px;
    position: relative; 
    bottom: 10px;  
}

.figura {
    width: 50px;
    height: 50px;     
    border-radius: 0%;
    background: red;
    display: inline-block;
    position: absolute;
    animation-name: slide-right;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 4;

}

@Keyframes slide-right {
/* квадрат красный */

0% { 
    left: 10px;  
}

24% {
    transform: translateX(280px);
}

/* круг бирюзовый */
25% {
    border-radius: 50%;
    background-color: aqua;
    margin-top: 0;
    margin-right: 10px;
}

48% {
    margin-right: 10px;
}

49% {
    margin-top: 280px;
    margin-right: 10px;
    transform: translateX(280px);
}

/* квадрат фиолетовый */
50% {
    border-radius: 0%;
    background-color: darkorchid;
}

73% {
    margin-right: 10px;
}

74% {
    margin-top: 280px;
    margin-right: 10px;
    transform: translateX(6px);
}

75% {
    border-radius: 50%;
    background-color:deeppink;
}

